@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

h1 {
    color: #ffb199;
    font-size: 3rem;
    padding: 10px 0px 10px 50px;
    font-weight: 600;
}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background : #363636
}

body::-webkit-scrollbar-thumb{
    background : #ff8177
}

/* Btn */

.btn a {
    position: relative;
    color : #fff;
    text-decoration: none;
    z-index: 1;
    text-align: center;
}
.btn {
    position: relative;
    font-size: 1rem;
    background-image:  linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    padding: 10px 20px;
    border:none;
    border-radius: 50px;
    margin-top: 2rem;
    cursor:pointer;    
}

.btn:after {
    content:"";
    position: absolute;
    top:0;
    left:0;
    background: #4837ff;
    width: 0;
    height: 100%;
    border-radius: 50px;
    transition: width 0.3s;
}

.btn:hover {
    color:#fff;
}


.btn:hover:after {
    width: 100%;
}

/* MENU */

body {
    height: 100%;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    z-index: 2;
    margin: 0 auto;
    padding : 0 50px;
    position: sticky;
    top:0;
    width: 100%;
}

.navbar__menu
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar__links {
    color :#ffff;
    padding: 0 1rem
}

.navbar__btn {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    border-radius:4px;
    background-color : #ffb199;
    color: #fff;
    padding : 5px 10px
}

.navbar__btn:hover {
    background : #4837ff;
    transition : color 0.3s ease
}

.navbar__links:hover {
    color : #ffb199;
    transition : color 0.3s ease
}



/* Home Section */

.home {
    background-color:#141414;
    position :relative;
    min-height: 100vh;
}


.home__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items : center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    padding: 20px 20px;
}
.main__img--container{
    width: 400px;
    height:400px;
    background-image: url("photo_Amelie_LeMestre.jpg");
    background-size : cover;
    background-position: center;
    border-radius: 200px;
}


.home__content .je-suis{
    color: #ffb199;
    font-size: 3rem;
}
.home__content h1 {
    font-size:3.5rem;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-text-fill-color: transparent;
    letter-spacing: 5px;
    min-width: 560px;
    padding: inherit;
}

.home__content h2 {
    font-size:3rem;
    /* background-color: #ff8177; */
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-text-fill-color: transparent;

}
.home__content p {
    color: #fff;
    margin-top: 1rem;
    font-size : 1rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 22px;
}

.home__btn {
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 50px;
}



/*About Me */

.about-me {
    width: 100%;
    background-color:#141414;
    min-height: 100vh;
}

.about-me__content {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 50px;
}


.about-me__content p {
    color: #fff;
    font-size: 1rem;
    text-align: justify;
    padding: 10px 0px 10px 50px;
    font-weight: 300;
}

.about-me__btn{
    justify-self: flex-end;
    
}


/*Compétences */

.skills {
    width: 100%;
    min-height: 100vh;
    background-color: #141414;
}
/* .skills__heading{

    padding : 20px 20px
} */
/* .skills__heading h1{
    /* padding : 30px 0;
    text-align : center */


.skills__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    padding:10px 0px 10px 50px
}

.skills__content h2 {
    color: #fff;
    background-image:linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-text-fill-color: transparent; 
}
.skills__img {
    width: 400px;
    height: 500px;
    min-width: 300px;
    min-height: 400px;
}

.skills__img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    /* display: block; */
}

.skills--bars {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 300px

}
.skills--text {
    font-weight: 600;
}

.skills--text p {
    font-size : 1rem;
    margin : 1rem 0;
}

.skills--box {
    position: relative;
    background-color: #2c3e50;
    filter:brightness(0.45);
    margin: 1rem 0;
    height: 3.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 10px;
    border-radius: 10px;
}

.skills--box i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.2rem;
    font-weight: 600;
    color: #4837ff;
}

.skills--box h3 {
    margin-left:1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #4837ff;
}

.percent-bar {
    position:absolute;
    left:0;
    bottom:0;
    background-color: #4837ff;
    height: 0.34rem;
    border-radius: 10px;
}

.skills--box span {
    color: #fff;
}

.html-bar{
    width: 95%;
}

.css-bar{
    width: 90%;
}

.js-bar{
    width: 75%;
}

.php-bar{
    width: 50%;
}
.sql-bar{
    width: 70%;
}

/* Projects */

.portfolio{
    background-color:#141414;
}

.portfolio h1 {
    color: #ffb199;
    font-size: 3rem;
    padding: 10px 0px 10px 50px;
}

.portfolio__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
    padding: 40px 0;

}

.portfolio__content .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5) ;
    border-radius: 15px;
    margin:0 40px;
    background: #F8EBFF;
}

/* on place la box à l'intérieur de la carte avec position absolute */
.portfolio__content .card .box{
    position: absolute;
    top:20px;
    left:20px;
    bottom: 20px;
    right: 20px;
    background-color: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.5s ease-in-out
}
/* On met en page le content de la box */
.portfolio__content .card .box .content {
    padding:20px;
    text-align: center;
    margin-top: 40px;
}

/* on positionne le h2 en haut à gaucge */
.portfolio .card .box .content h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 7em;
    color: rgba(0,0,0,0.02) ;
    pointer-events: none;
    margin-bottom: 40px;
    transition: 0.5s;
    
}

/* on fonce le h2 quand on passe sur la card */
.portfolio .card:hover .box .content h2 {
    color: rgba(0,0,0,0.05);
    
}

.portfolio .card .box .content h3 {
    font-size : 1.8em;
    color: #777 ;
    z-index: 1;
    transition: 0.5s;
}



.portfolio .card .box .content p {
    font-size: 0.9em;
    font-weight: 300;
    color:rgb(102, 101, 101);
    z-index: 1;
    padding : 10px 0;
}

.portfolio .card .box .content2 p {
    margin-top:30%;
    margin-bottom: 30% ;
}

.portfolio .card:hover .box .content h3, .portfolio .card:hover .box .content p {
    color:#fff
}

/* on applique un mouvement vers le haut de la box lorsqu'on passe sur la card */
.portfolio .card:hover .box {
    transform:translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
    background: linear-gradient(45deg, #b95ce4  0%, #4837FF 100%);
}



.portfolio .btn__card {
    position: relative;
    background-color: #4837FF;
    padding: 10px 20px;
    border:none;
    border-radius: 50px;
    cursor:pointer;   
     
}

.btn__card::after {
    content:"";
    position: absolute;
    top:0;
    left:0;
    background-image:  linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    width: 0;
    height: 100%;
    border-radius: 50px;
    transition: width 0.3s;
    z-index: -1;
}
/* on change le fond du btn en passant le width du pseudoélément after lorsqu'on passe sur la card  */
.portfolio .card:hover .btn__card::after {
    width: 100%;
}

.portfolio .card .box .content a {
    z-index: 1;
    color:#fff;
    font-weight: 500;
    position:absolute;
    bottom:5%;
    left: 10%;
    right: 10%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    
}

#contact {
    background-color: #141414;
}

.formulaire {
    width: 70%;
    border: 1px solid #fff;
    border-radius:1em;
    
}

.formulaire label {
    width: 150px;
    font-size: 0.7rem;
    color:#fff;
    font-weight: 300;
    margin-left: 1rem;
    text-align: left;
    
}

@media screen and (max-width : 800px) {
    .navbar {
        width: 100%;
        padding : 0
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        margin : 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 70vh;
        z-index:-1;
        font-size:1.6rem;
        background: #131313;
    }

    body.is-active {
        background-color: #141414;
        z-index: 1000;
    }

    .is-active header{
        height: 100vh;
    }

    .navbar__menu.is-active {
        
        top: 80px;
        opacity: 1;
        z-index: 1000;
    }

    #navbar__logo {
        padding:25px;
    }

    .navbar__toggle .bar {
        display: inherit;
        width: 25px;
        height : 3px;
        background-color: #fff;
        cursor : pointer;
        transition: all 0.4s ease-in-out;
    }

    .navbar__toggle .bar::before, .navbar__toggle .bar::after {
        content :"";
        position: absolute;
        top:0;
        left:0;
        width: 25px;
        height : 3px;
        background-color: white;
        cursor : pointer;
        transition: all 0.4s ease-in-out;
    }
    .navbar__toggle .bar::before {
        transform:translateY(-10px);
        right: 5px
    }

    .navbar__toggle .bar::after {
        transform:translateY(10px);
        right: 5px
    }

    .navbar__links {
        text-align: center;
        padding:2rem;

    }

    #mobile-menu {
        position:absolute;
        right:5%;
        transform: translate(5%,20%);
        height: 40px;
        width: 40px;
    }

    .navbar__btn {
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 5px 5px;
        height: 50px;

    }

    .is-active .bar {
        color: transparent;
        width: 0;
    }

    .is-active .bar::before {
        transform: rotate(45deg);
    }
    .is-active .bar::after {
        transform: rotate(-45deg);
    }

    /* Home */

    /* .home {
        /* height: inherit; */
        /* margin-top: 4rem; */
    */
    .home__container {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items : center ;
        padding: 0;
        height: inherit;
    
    }

    .home__content {
        text-align: center;
        margin-bottom: 4rem;
    }
    .home__content h1 {
        font-size: 3rem;
    }

    .home__content h2 {
        font-size: 2.5rem;
    }

    .home__content .je-suis {
        font-size: 2rem;
        margin-top: 4rem;
    }

    /*About me */

    .about-me {
        grid-template-columns: auto;
        align-items : center ;
        width: 100%;
        margin : 0 auto;
        height: inherit;
    }

    /* Skills */
    .skills__content {
        flex-direction: column;
    }

    /* Portfolio */ 

    .portfolio__content {
        flex-direction: column;
    }

    .portfolio__content .card{
        margin : 30px auto 
    }
}
@media screen and (max-width : 1000px) {
    .home__container {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items : center ;
        padding: 0;
        height: inherit;
    }
    .home__btn {
        display: none;
    }
    

}